= provide :title, 'About You | BoughtSpot'

.about--header

.container
    %p Truthfully, all we do is for you. From the moment you visited our website, we made sure that you feel most welcome. It’s more about you than about us. It’s your work we do, and you are our customer.

    %p This website was made because of you, so that you will consider us for your next website project. We have been waiting for you, we’re at just a #{link_to 'call', 'tel:00233208747355'} or #{link_to 'email', 'mailto:office@boughtspot.com' } away. Give us the privilege of working on your next website.

    %p To most people, it seems this page is supposed to be about us. So we’ll talk a bit about ourselves.

    %h3 Claude Ayitey

    %p With a background in Computer Science, Claude has a passion to make beautiful websites that please clients. As a self-taught UI/UX designer, he combines his knowledge in web best practices with human behaviour that is at work when people use websites.

    %p Also a Google-trained Online Marketer, his online marketing skills have been useful while working with brands like AfroChic, ServLed, DevCongress, and ArkLifestyle Lounge.

    %p He studied at the #{link_to 'Meltwater Entrepreneurial School of Technology', 'http://meltwater.org' }, and usually writes on #{link_to 'gharage', 'https://gharage.com' } about Ghanaian tech.